<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title>Genki Exercises - 2nd Edition | Genki Study Resources</title>
    <meta
      name="title"
      content="Genki Exercises - 2nd Edition | Genki Study Resources"
    />
    <meta
      name="twitter:title"
      content="Genki Exercises - 2nd Edition | Genki Study Resources"
    />
    <meta
      property="og:title"
      content="Genki Exercises - 2nd Edition | Genki Study Resources"
    />
    <meta
      name="description"
      content="Genki Study Resources offers a vast collection of exercises for practicing what is taught in Genki: An Integrated Course in Elementary Japanese."
    />
    <meta
      property="og:description"
      content="Genki Study Resources offers a vast collection of exercises for practicing what is taught in Genki: An Integrated Course in Elementary Japanese."
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/resources/images/genkico.ico"
    />

    <meta
      name="keywords"
      content="Genki I, Genki II, 2nd Edition, 3rd Edition, Workbook, Exercises, Quizzes, Answers"
      lang="en"
    />
    <meta name="language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:site_name" content="sethclydesdale.github.io" />
    <meta
      property="og:url"
      content="https://sethclydesdale.github.io/genki-study-resources/"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://sethclydesdale.github.io/genki-study-resources/resources/images/genki-thumb.png"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@SethC1995" />

    <link rel="stylesheet" href="/resources/css/stylesheet.min.css" />
    <script src="/resources/javascript/head.min.js"></script>
    <script src="/resources/javascript/ga.js" async></script>
    <meta
      name="google-site-verification"
      content="a6Dkj3tZ7SEai-QbfbOI0M0Jb65Lp18nbY1Hl3LwOro"
    />
    <script src="https://unpkg.com/dexie/dist/dexie.js"></script>
    <script src="/resources/javascript/indexedDB.js"></script>
  </head>

  <body>
    <main>{{ content }}</main>

    <footer class="clear">
      <ul class="footer-left">
        <li><a href="./" id="footer-home">Home</a></li>
        <li><a href="/privacy/">Privacy</a></li>
        <li><a href="/report/">Report a Bug</a></li>
        <li><a href="/help/">Help</a></li>
        <li><a href="/donate/">Donate</a></li>
      </ul>

      <ul class="footer-right">
        <li>
          Created by
          <a href="https://github.com/SethClydesdale">Seth Clydesdale</a> and
          the
          <a
            href="https://github.com/SethClydesdale/genki-study-resources/graphs/contributors"
            >GitHub Community</a
          >
        </li>
      </ul>
    </footer>

    <script src="/resources/javascript/all.min.js"></script>
  </body>
</html>
